body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title, #equation-viewer-paragraph {
    width: 100%;
    text-align: center;
}

#equation-viewer-paragraph {
    font-size: 20px;
}

#equation-input {
    width: 80%;
    text-align: center;
}

#equation-change-button {
    width: 20%;
}